.button-search {
  width: 119px;
  height: 56px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 12px;
  border: 2px;
  gap: 8px;
  background: #7b6ef6;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
